.container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  height: 100%;

  &-Xcenter {
    @extend .flex;
    align-items: center;
  }

  &-Mcenter {
    @extend .flex;
    justify-content: center;
  }

  &-center {
    @extend .flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  &-main {
    font-size: 4rem;
    font-weight: 900;
  }

  &-sub {
    font-size: 1.5rem;
    font-style: italic;
  }
}

.card {
  background-color: $color-light;
  color: $color-dark;
  text-align: center;
  border-radius: 15px;
  padding: 0.5rem;

  h2 {
    margin-top: 0.5em;
  }
}
