@import 'defaults';
@import 'utils';

:root {
  scroll-behavior: smooth;
  position: relative;
}

.navbar {
  background-color: $color-dark;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  &__links {
    @extend .flex-Xcenter;
    justify-content: space-evenly;
    font-size: 1.8rem;
  }
}

.hero {
  text-align: center;
  min-height: 100vh;
  padding: 35vh 0;
  flex-direction: column;

  &__title {
    font-size: 4rem;
  }

  &__subtitle {
    @extend .title--sub;
  }
}

.projects {
  background-color: $color-dark;
  @extend .section--spacing;

  &__title {
    color: $color-light;
    @extend .title--main;
    text-decoration: underline;
    margin-bottom: 1.25em;
  }

  &__showcase {
    &--row {
      @extend .flex-center;
      gap: 5em;

      a {
        transition: transform 250ms ease-in;
      }

      a:hover {
        transform: scale(1.1);
      }

      @media screen and (max-width: 750px) {
        flex-direction: column;
      }
    }
  }

  #profile-link {
    display: inline-block;
    margin-top: 6em;
    background-color: $color-light;
    color: $color-dark;
    padding: 1em 2em;
    border-radius: 100px;
    transition: opacity 250ms ease-in;
  }

  #profile-link:hover {
    opacity: 0.75;
  }
}

.contact {
  @extend .section--spacing;

  &__title {
    @extend .title--main;
  }

  &__subtitle {
    @extend .title--sub;
  }

  &__links {
    @extend .flex-center;
    margin-top: 2em;
    gap: 2em;

    .img-wrapper {
      transition: transform 250ms ease-out;
    }

    .img-wrapper:hover {
      transform: translateY(-10px);
    }
  }
}
