:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  font-size: 1.1rem;
  margin: 0;
}

ul {
  padding-left: 1.5rem;
}

.container {
  display: flex;
  gap: 1em;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  border-right: 5px solid #aaa;
  box-sizing: content-box;
  min-width: 300px;
  max-width: 300px;
  max-height: 100vh;
}

.page-title {
  text-align: center;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  padding: 0.8em 0;
  border-top: 1px solid #aaa;
  list-style: none;
}

nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

header {
  font-weight: normal;
  font-size: 2rem;
  margin: 0.5em 0;
}

main p,
main li {
  line-height: 1.5;
}

main {
  min-width: 300px;
}

section {
  padding-left: 1rem;
}

code pre {
  background-color: #ebebeb;
  white-space: pre-wrap;
}

@media screen and (max-width: 1125px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 926px) {
  nav {
    position: static;
    width: 100%;
    max-width: none;
    max-height: 275px;
    overflow-y: scroll;
    border-bottom: 3px solid #555;
  }

  nav li:first-of-type {
    border-top: 3px solid #555;
  }

  .container {
    flex-direction: column;
  }
}
